/* contents */

body{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container, .canvas{
    display: flex;
    flex:none;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border: 2px solid red;
    margin-top: auto;
}

div.box{
    border: 1px solid rgb(172, 172, 172);
    box-sizing: border-box;
    margin: 0;
}

.hovered{
    background-color: black;
}

.changer{
    padding: 8px;
    margin: 10px;
}

/* header and footer */

.header{
    text-align: center;
    font-size: 24px;
}

.footer{
    font-size: larger;
    font-weight: bold;
    padding: 30px;
    margin: 0px;
    margin-top: 100%;
}